body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: rgb(233, 201, 74);
}

.carousel-inner {
  max-height: 39rem;
}


.form {
  padding: 60px;
  width: 300px;
  background-color: #e7e7e7;
  margin: 0 auto;
}
form input, form textarea {
  margin-bottom: 15px;
  font-family: sans-serif;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  color: #525c66;
  font-size: 12px;
  resize: none;
}

.form button {
  display: block;
  background-color: #0095eb;
  padding: 10px 45px 10px 45px;
  border: 0px;
  font-size: 16px;
  color: white;
  font-family: sans-serif;
}
.textarea {
  resize: none;
}

.form button hover {
  background-color: #046193;
}

.footer{
  background: black;
  min-height: 100px;

}

.footer p{
  color: white;
  text-align: center;
}

#iconos i{
font-size: 26px;
padding: 0 8px;
}


@media (max-widht:768px) {
  #intro {
    width: 90% !important;
  }
}